:root {
  --main-green: #3cb702;
  --highlight-green: #61e721;
  --accent-green: #52ff00;
  --low-green: #40a500;
  --purple: #a802b7;
  --default-background: #0d1302;
  --selection-brown: #b76f02;
  --pink: #b70284;
  --inverted: #c348fd;
}

body {
  color: var(--main-green);
  background-color: var(--default-background);
  margin: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline-color: var(--main-green);
}

a {
  color: var(--main-green);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--accent-green);
}

a:hover * {
  text-decoration: none;
  color: var(--accent-green);
}

button:hover {
  background: var(--accent-green);
  color: var(--default-background);
}

button:hover * {
  background: var(--accent-green);
  color: var(--default-background);
}

::-moz-selection {
  color: white;
  background: var(--purple);
}
::selection {
  color: white;
  background: var(--purple);
}

input,
textarea {
  background: none;
  border: none;
  color: currentColor;
  background-color: #1a1616;
  border-bottom: 1px solid #262a36;
  font-size: 16px;
  padding: 10px;
}

/* 
"#022FB7",
"#262A36",
"var(--purple)",
"var(--main-green)",
"var(--selection-brown)",
"#B70284",

"var(--default-background)",
"#020A13",
"#130202",
"#1A1616",
"#000000",
"#040A27",
*/
